.buy-now form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.buy-now form input,
textarea {
    width: 60%;
    height: 50px;
    margin-bottom: 10px;
}

/* form {

    margin-top: 80px;
    margin-bottom: 80px;
    padding: 40px;
    width: 80%;
    height: 500px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2); */
/* background-color: #c5cae9; */
/* background: url(https://png.pngtree.com/thumb_back/fh260/background/20200808/pngtree-white-gray-gradient-abstract-background-image_388903.jpg);
    background-repeat: no-repeat; */

/* } */